:root {
    --branding-color: rgb(211, 120, 97);
    --background-color: rgb(241, 236, 229);
    --heading-font-family: quicksand;
}


body {
    background: var(--background-color);
    font-family: var(--heading-font-family);
}


h1 {
    font-size: 48px;
}
h1, h2 {
    color: white;
    text-align: center;
    padding: 15px;
}

h3 {
    font-size: 36px;
    padding: 15px;
}

p {
    font-size: 20px;
    padding: 15px;
}


.hero {
    background: var(--branding-color);
    padding: 50px 20px;
    text-align: center;
}

.btn-branding {
    background: white;
    text-align: center;
    border-radius: 4px;
    border-color: gray;

}

.btn-branding-outline {
    background: white;
    text-align: center;
    border-radius: 4px;
    border-color: gray;
    margin: 15px;
}

.project-description {
    padding: 20px;
}

@media (max-width: 960px) {
    .project-description {
        padding: 0;
        text-align: center;
    }
}

.about-section {
    text-align: center;
    padding: 0;
}

.logo {
    max-width: 250px;
}

.img-fluid {
    max-width: 300px;

}